services:
  backend:
    build:
      context: ../../backend
      dockerfile: ../../infra/docker/backend.Dockerfile
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
  frontend:
    build:
      context: ../../
      dockerfile: ./frontend.Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - backend

